<nav class="navbar navbar-dark bg-dark text-white">
    <div class="container">
        <a href="/">Home</a>
        <a href="/quemsomos">Quem Somos</a>
        <a href="/cadastro">Cadastro</a>
        <a href="/contato">Contato</a>
    </div>
</nav>