<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/menu.ejs') %>
    <div class="container">
        <h1>Quem Somos</h1>
        <hr>
    </div>

</body>
<%- include('partials/footer.ejs') %>